@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Doorcard-container {
  display: inline-block;
  margin: 10px;
}

.door-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 270px; /* Increase the width */
  height: 460px; /* Increase the height */
  padding: 15px; /* Increase padding for a larger hover effect */
  position: relative;
}

.door-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.door-content {
  padding: 10px;
}

.door-content h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.button-container {
  text-align: center; /* Center buttons horizontally */
  margin-top: 15px; /* Add space between door name and buttons */
}

.btn-customize,
.btn-add-to-cart {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: white; /* Set text color to white */
  transition: background-color 0.3s; /* Add transition for hovering effect */
}

.btn-customize {
  background-color: black; /* Change background color to black */
  margin-right: 12px;
}

.btn-add-to-cart {
  margin-top: 10px; /* Add margin between buttons */
  background-color: black; /* Change background color to black */
}

.btn-customize:hover,
.btn-add-to-cart:hover {
  background-color: #17252A; /* Change background color on button hover */
}
