.payment-confirmation {
  text-align: center;
  margin-top: 50px;
}

.payment-confirmation h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.payment-confirmation p {
  font-size: 1.2rem;
  color: #666;
}

.login-to-checkout{
  color: red;
}
.cart-summary-section {
    display: flex;
    color: #333;
  }
  
  .cart-items {
    flex: 1;
    padding-right: 20px; /* Add spacing between cart items and cart summary */
  }
  
  .cart-summary {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 3rem;
  }
  
  .cart-summary h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cart-summary p {
    font-weight: bold;
  }
  
  .cart-summary hr {
    margin: 10px 0;
  }
  
  .cart-summary h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  
  }
  
  .checkout-button {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.3s;
  }
  
  .checkout-button:hover {
    background-color: #ee1e5d;
  }
  
.cart-item-count {
    font-size: 1.5rem;
 
  }

  .cart-heading-content{
    text-align: center;
    margin-bottom: 50px;
  }

  .cart-heading{
    font-size: 2.5rem;

  }

.cart-page{
  color: #333;
  font-family: 'Poppins', sans-serif;
}

/* Profile Heading */
.profile-heading {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Profile Address */
.profile-address {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

/* Update Address Button */
.btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  border-color: #ffc107;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.order-placed-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: not-allowed;
}