    .door-showcase{
        background: linear-gradient(90deg, #fff, #eee);
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        position: relative;
    }


    .wrapper {
        perspective: 1000px;
    }

    .door {
        transform-style: preserve-3d;
        width: 27.0625em;
        height: 40.5em;
        transform-origin: 13.53125em 4.375em;
        position: relative;
    }

    .door > div {
        position: absolute;
        height: 40.5em;
    }

    .front, .back, .side {
        background-size: cover;
        pointer-events: none;
    }

    .front {
        width: 27.0625em;
        height: 40.5em;
        background: url(/Door1.png) center/cover no-repeat;
        transform: translate3d(0, 0, 2.1875em);
    }
    
    .side {
      width: 4.375em;
      transform: rotateY(-90deg) translate3d(0,0,2.1875em);
      background: url('/bar1.jpg');
  }
 
    
    .back {
        width: 27.0625em;
        height: 40.5em;
        background: url(/Door1back.png) center/cover no-repeat;
        transform: rotateY(180deg) translate3d(0, 0, 2.1875em);
    }
    
    
    
    

.customization-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.customization-page h2 {
    font-size: 3em;
    color: #333; 
}

.customization-page p {
    font-size: 1.5rem;
    color: #777; 
}

.sidebar {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    transition: all 0.3s ease; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar button {
    margin-bottom: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .sidebar button:hover {
    background-color: #007bff;
  }
  
  .sidebar button:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 600px) {
    .sidebar {
      left: 75px;
      display: flex;
      flex-direction: row;
      top: 70%;
    }
  
    .sidebar button {
      width: 100%;
    }
  }
