/* AdminMenu.css */
.dashboard-menu {
  background-color: #ffffff; /* Adjust the background color */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px; /* Add some padding */
  font-family: sans-serif;
}

.dashboard-menu h4 {
  margin: 20px 0 10px 20px;
  color: #333; /* Set the heading color */
  font-size: 2rem; /* Increase font size */
}

.list-group-item {
  border: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Include color transition */
  border-radius: 5px; /* Add rounded corners */
}

.list-group-item:hover {
  background-color: #f0f0f0; /* Background color on hover */
  color: #555; /* Color on hover */
}

/* Horizontal menu layout */
.list-group-item {
  display: block;
  width: 100%;
  margin: 5px 0; /* Add margin between items */
}
