/* LandingFooter.css */

/* Custom Footer Container */
.custom-footer {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* Footer Links Section */
.footer-links {
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
}

/* Footer Links Column */
.footer-links__column {
  flex: 1;
  margin: 0 1rem;
}

/* Footer Links Title */
.footer-links__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #ff3c78;
}

/* Footer Links List */
.footer-links__list {
  list-style-type: none;
  padding: 0;
}

/* Footer Link */
.footer-link {
  display: block;
  color: #777;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: #ff3c78;
}

/* Footer Icon */
.footer-icon {
  margin-right: 0.5rem;
}

/* Footer Bottom */
.footer-bottom {
  border-top: 2px solid #333;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer Logo */
.footer-logo {
  display: flex;
  align-items: center;
}

/* Footer Logo Image */
.logo,
.logo-dark {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

/* Footer Logo Title */
.footer-logo__title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
}

/* Footer Copyright */
.footer-copy {
  font-size: 0.875rem;
  color: white;
}

.footer-container {
  background-color: black;
}
