.h-wrapper {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: var(--black);
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 2.5rem 0;
}

.logo {
  opacity: 0;
  animation: fadeInLogo 1.5s ease-in-out forwards;
  font-size: 1.5rem; /* Increase font size */
  color: white;
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 10px;
}

@keyframes fadeInLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h-container {
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--secondary);
}

.h-menu {
  gap: 4rem;
}

.h-menu a {
  position: relative;
  font-size: 1.1rem;
  padding: 0 10px;
  color: #a0a0a0;
}

.h-menu a::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.h-menu a:hover {
  color: #ffff;
}

.h-menu > *:hover::after {
  cursor: pointer;
  width: 100%;
}

.h-menu .active-color {
  color: white;
}

.h-menu a.active::after {
  width: 100%;
}

.logo {
  opacity: 0;
  animation: fadeInLogo 1.5s ease-in-out forwards;
  width: 50px; /* Increased logo size */
  height: 50px; /* Increased logo size */
}

@keyframes fadeInLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .h-menu {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    color: var(--black);
    position: absolute;
    top: 3.5rem;
    right: 4rem;
    background: white;
    flex-direction: column;
    font-weight: 500;
    gap: 2rem;
    padding: 3rem;
    border-radius: 10px;
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in;
    z-index: 999;
  }
}
